<?xml version='1.0' encoding='utf-8'?>
<widget id="com.l2m.ems" version="1.1.4T" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>L2M MIS</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="auth/login.html" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#4cc1bb" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <!-- <preference name = "SplashScreen" value = "screen" />
    <preference name = "SplashScreenDelay" value = "3000" /> -->
     <!-- <feature name="SplashScreen">
    <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
    </feature> -->
   <!--  <plugin name="org.apache.cordova.splashscreen" spec="0.2.7" source="pgb" /> -->

    <!-- <gap:plugin name = "org.apache.cordova.splashscreen" /> -->
    <!-- <preference name = "SplashScreen" value = "screen" />
    <preference name = "SplashScreenDelay" value = "5000" />
    <preference name = "SplashMaintainAspectRatio" value = "true" /> -->


    <plugin name="cordova-plugin-splashscreen" source="npm" />
    <!-- <preference name = "SplashMaintainAspectRatio" value = "true" /> -->
    <splash src="./splash.png" />
    <icon src="./logo.png" />

    
</widget>
